<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <mappers>
        <mapper resource="mybatis/mappers/PetMapper.xml"/>
        <mapper resource="mybatis/mappers/UserMapper.xml"/>
        <mapper resource="mybatis/mappers/MedicalMapper.xml"/>
        <mapper resource="mybatis/mappers/MedicalReservationMapper.xml"/>
        <mapper resource="mybatis/mappers/ReservationBeautyMapper.xml"/>
        <mapper resource="mybatis/mappers/Announce.xml"/>
        <mapper resource="mybatis/mappers/MedicalMapper.xml"/>
    </mappers>
</configuration>
