<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.boot.dao.MedicalDAO">

	<select id="getAllMedical" resultType="com.boot.dto.MedicalDTO">
		select id, pet_name, treatment_date, doctor_id, content, prescription, notes, user_id, created_at, updated_at
		from medical
	</select>
	
	<select id="selectMedicalById" parameterType="long" resultType="com.boot.dto.MedicalDTO">
        select id, pet_name, treatment_date, doctor_id, content, prescription, notes, user_id, created_at, updated_at
		from medical
		where id = #{id}
    </select>
</mapper>