<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.boot.dao.MedicalReservationDAO">

    <!-- ✅ 진료 예약 등록 -->
    <insert id="insertMedicalReservation" parameterType="com.boot.dto.MedicalReservationDTO">
        INSERT INTO MEDICAL_RESERVATION (
            ID,
            PET_ID,
            USER_ID,
            USER_NAME,
            PHONE_NUMBER,
            NAME,
            TYPE,
            GENDER,
            AGE,
            NOTE,
            RESERVATION_DAY,
            RESERVATION_TIME,
            CREATED_AT
        ) VALUES (
            MEDICAL_RESERVATION_SEQ.NEXTVAL,
            #{pet_id},
            #{user_id},
            #{user_name},
            #{phone_number},
            #{name},
            #{type},
            #{gender},
            #{age},
            #{note, jdbcType=CLOB},
            #{reservation_day, jdbcType=DATE},
            #{reservation_time},
            #{created_at, jdbcType=DATE}
        )
    </insert>
    
    <select id="getReservationMedicalList" resultType="com.boot.dto.MedicalReservationDTO">
    	select id, pet_id, user_id, user_name, phone_number, name, type, gender, age, note,
    			reservation_day, reservation_time, state
    	from medical_reservation order by id desc
    </select>
    
    <update id="updateState" parameterType="map">
		update medical_reservation
		set state = #{state}
		where id = #{id}
	</update>
	
	<delete id="deleteById">
		delete from medical_reservation where id = #{id}
	</delete>
	
		<!--예약 리스트-->
	<select id="getReservationsByUserId" parameterType="string" resultType="com.boot.dto.MedicalReservationDTO">
	    SELECT *
	    FROM MEDICAL_RESERVATION
	    WHERE USER_ID = #{userId}
	    ORDER BY RESERVATION_DAY DESC, RESERVATION_TIME DESC
	</select>
	
		<!--paging-->
	<select id="getSearchCount" parameterType="map" resultType="int">
		SELECT COUNT(*) FROM medical_reservation
		WHERE ${field} LIKE '%' || #{keyword} || '%'
    </select>
    <!-- 검색 + 정렬 + 페이징 -->
    <select id="getPagedSearchResults" parameterType="map" resultType="com.boot.dto.MedicalReservationDTO">
    	<![CDATA[
		SELECT * FROM (
	        SELECT u.*, ROWNUM AS rn
	        FROM (
	            SELECT * FROM medical_reservation
	            WHERE ${field} LIKE '%' || #{keyword} || '%'
	            ORDER BY ${sortField} ${order}
	        ) u
	        WHERE ROWNUM <= #{endRow}
	    )
	    WHERE rn > #{startRow}
	    ]]>
    </select>
    <!-- 전체 수 -->
    <select id="getTotalCount" resultType="int">
        SELECT COUNT(*) FROM medical_reservation
    </select>
    <!-- 정렬 + 페이징 (검색 없이) -->
    <select id="getPagedUsersSorted" parameterType="map" resultType="com.boot.dto.MedicalReservationDTO">
    <![CDATA[
	    SELECT * FROM (
	        SELECT u.*, ROWNUM AS rn
	        FROM (
	            SELECT * FROM medical_reservation
	            ORDER BY ${sortField} ${order}
	        ) u
	        WHERE ROWNUM <= #{endRow}
	    )
	    WHERE rn > #{startRow}
	   ]]>
    </select>
	
</mapper>