<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.boot.dao.MedicalDAO">

	<select id="getMedicalList" resultType="com.boot.dto.MedicalDTO">
		select id, pet_name, treatment_date, doctor_id, content, prescription, notes, user_id, created_at, updated_at
		from medical
	</select>
	
	<select id="getMedicalInfo" parameterType="long" resultType="com.boot.dto.MedicalDTO">
        select id, pet_name, treatment_date, doctor_id, content, prescription, notes, user_id, created_at, updated_at
		from medical
		where id = #{id}
    </select>
    
    <insert id="insertMedical" parameterType="com.boot.dto.MedicalDTO">
    	insert into medical(id, pet_name, treatment_date, doctor_id, content,
    						prescription, notes, user_id)
    			values (medical_seq.NEXTVAL, #{pet_name}, #{treatment_date}, #{doctor_id},
    			 		#{content}, #{prescription}, #{notes}, #{user_id})
    </insert>

    <update id="updateMedicalInfo" parameterType="com.boot.dto.MedicalDTO">
    	update medical 
    	set pet_name = #{pet_name}, doctor_id = #{doctor_id}, content = #{content}, 
    	    prescription = #{prescription}, notes = #{notes}, updated_at = CURRENT_TIMESTAMP
    	where id = #{id}
    </update>
    
	<delete id="deleteMedical" parameterType="long">
		delete from medical where id = #{id}
	</delete>
	
	<!--paging-->
	<select id="getSearchCount" parameterType="map" resultType="int">
		SELECT COUNT(*) FROM medical
		WHERE ${field} LIKE '%' || #{keyword} || '%'
    </select>
    <!-- 검색 + 정렬 + 페이징 -->
    <select id="getPagedSearchResults" parameterType="map" resultType="com.boot.dto.MedicalDTO">
    	<![CDATA[
		SELECT * FROM (
	        SELECT u.*, ROWNUM AS rn
	        FROM (
	            SELECT * FROM medical
	            WHERE ${field} LIKE '%' || #{keyword} || '%'
	            ORDER BY ${sortField} ${order}
	        ) u
	        WHERE ROWNUM <= #{endRow}
	    )
	    WHERE rn > #{startRow}
	    ]]>
    </select>
    <!-- 전체 유저 수 -->
    <select id="getTotalCount" resultType="int">
        SELECT COUNT(*) FROM medical
    </select>
    <!-- 정렬 + 페이징 (검색 없이) -->
    <select id="getPagedUsersSorted" parameterType="map" resultType="com.boot.dto.MedicalDTO">
    <![CDATA[
	    SELECT * FROM (
	        SELECT u.*, ROWNUM AS rn
	        FROM (
	            SELECT * FROM medical
	            ORDER BY ${sortField} ${order}
	        ) u
	        WHERE ROWNUM <= #{endRow}
	    )
	    WHERE rn > #{startRow}
	   ]]>
    </select>
	
</mapper>