<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.boot.dao.MedicalReservationDAO">

    <!-- ✅ 진료 예약 등록 -->
    <insert id="insertMedicalReservation" parameterType="com.boot.dto.MedicalReservationDTO">
        INSERT INTO MEDICAL_RESERVATION (
            ID,
            PET_ID,
            USER_ID,
            USER_NAME,
            PHONE_NUMBER,
            NAME,
            TYPE,
            GENDER,
            AGE,
            NOTE,
            RESERVATION_DATE,
            RESERVATION_TIME,
            CREATED_AT
        ) VALUES (
            MEDICAL_RESERVATION_SEQ.NEXTVAL,
            #{pet_id},
            #{user_id},
            #{user_name},
            #{phone_number},
            #{name},
            #{type},
            #{gender},
            #{age},
            #{note, jdbcType=CLOB},
            #{reservation_date, jdbcType=DATE},
            #{reservation_time},
            #{created_at, jdbcType=DATE}
        )
    </insert>
    
    <select id="getReservationMedicalList" resultType="com.boot.dto.MedicalReservationDTO">
    	select id, pet_id, user_id, user_name, phone_number, name, type, gender, age, note,
    			reservation_date, reservation_time, state
    	from medical_reservation order by id desc
    </select>
    
    <update id="updateState" parameterType="map">
		update medical_reservation
		set state = #{state}
		where id = #{id}
	</update>
	
	<delete id="deleteById">
		delete from medical_reservation where id = #{id}
	</delete>
</mapper>