<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.boot.dao.PetDAO">

    <!-- 펫 등록 -->
   <insert id="insertPet" parameterType="com.boot.dto.PetDTO">
    INSERT INTO pet (
        id, name, gender,type, age, description, user_id
    ) VALUES (
        pet_seq.NEXTVAL,
        #{name},
        #{gender},
        #{type},
        #{age},
        #{description},
        #{user_id}
    )
</insert>


    <!-- 전체 목록 조회 -->
    <select id="getAllPets" resultType="com.boot.dto.PetDTO">
        SELECT * FROM pet ORDER BY id DESC
    </select>

    <!-- 단일 펫 조회 -->
    <select id="getPetById" parameterType="int" resultType="com.boot.dto.PetDTO">
        SELECT * FROM pet WHERE id = #{id}
    </select>

    <!-- 펫 정보 수정 -->
    <update id="updatePet" parameterType="com.boot.dto.PetDTO">
        UPDATE pet
        SET name = #{name},
        	gender = #{gender},
            type = #{type},
            age = #{age},
            description = #{description}
        WHERE id = #{id}
    </update>
	<!-- 펫 삭제 -->
    <delete id="deletePet" parameterType="int">
    	DELETE FROM pet WHERE id = #{id} 
    </delete>
	<!-- 유저의 펫 목록 조회 -->
    <select id="getPetsByUserId" parameterType="string" resultType="com.boot.dto.PetDTO">
    	SELECT * FROM pet WHERE user_id = #{user_id} ORDER BY id DESC
	</select>
    
</mapper>
