<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.boot.dao.ReservationBeautyDAO">

    <!-- ✅ 미용 예약 등록 -->
	<insert id="beautyReservation">
	    INSERT INTO beauty_reservation
	    (id, pet_id, name, type, gender, age, weight, style, note, reserved_at,
	     reservation_day, reservation_time, user_name, user_phone)
	    VALUES
	    (beauty_reservation_seq.nextval, #{pet_id}, #{name}, #{type}, #{gender}, #{age},
	     #{weight}, #{style}, #{note}, sysdate, #{reservation_day}, #{reservation_time},
	     #{user_name}, #{user_phone})
	</insert>
	
	<select id="getReservationBeautyList" resultType="com.boot.dto.BeautyDTO">
		select id, pet_id, name, type, gender, age, weight, style, note,
	     		reservation_day, reservation_time, user_name, user_phone, state
	    from beauty_reservation order by id desc
	</select>
	
	<update id="updateState" parameterType="map">
		update beauty_reservation
		set state = #{state}
		where id = #{id}
	</update>
	
	<delete id="deleteById">
		delete from beauty_reservation where id = #{id}
	</delete>
	
	<select id="getBeautyReservationsByUserId" parameterType="string" resultType="com.boot.dto.BeautyDTO">
	    SELECT b.*
	    FROM beauty_reservation b
	    JOIN pet p ON b.pet_id = p.id
	    WHERE p.user_id = #{userId}
	    ORDER BY b.reservation_day DESC
	</select>
	
	<!--paging-->
	<select id="getSearchCount" parameterType="map" resultType="int">
		SELECT COUNT(*) FROM beauty_reservation
		WHERE ${field} LIKE '%' || #{keyword} || '%'
    </select>
    <!-- 검색 + 정렬 + 페이징 -->
    <select id="getPagedSearchResults" parameterType="map" resultType="com.boot.dto.BeautyDTO">
    	<![CDATA[
		SELECT * FROM (
	        SELECT u.*, ROWNUM AS rn
	        FROM (
	            SELECT * FROM beauty_reservation
	            WHERE ${field} LIKE '%' || #{keyword} || '%'
	            ORDER BY ${sortField} ${order}
	        ) u
	        WHERE ROWNUM <= #{endRow}
	    )
	    WHERE rn > #{startRow}
	    ]]>
    </select>
    <!-- 전체 수 -->
    <select id="getTotalCount" resultType="int">
        SELECT COUNT(*) FROM beauty_reservation
    </select>
    <!-- 정렬 + 페이징 (검색 없이) -->
    <select id="getPagedUsersSorted" parameterType="map" resultType="com.boot.dto.BeautyDTO">
    <![CDATA[
	    SELECT * FROM (
	        SELECT u.*, ROWNUM AS rn
	        FROM (
	            SELECT * FROM beauty_reservation
	            ORDER BY ${sortField} ${order}
	        ) u
	        WHERE ROWNUM <= #{endRow}
	    )
	    WHERE rn > #{startRow}
	   ]]>
    </select>

</mapper>
