<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.boot.dao.UserDAO">

    <insert id="write" parameterType="hashmap"> INSERT INTO users(user_id, password, user_name, nickname, phone_number, email, address) VALUES (#{user_id}, #{password}, #{user_name}, #{nickname}, #{phone_number}, #{email}, #{address}) </insert>
<insert id="insertKakaoUser" parameterType="com.boot.dto.UserDTO"> INSERT INTO users (user_id, password, nickname, user_name, email) VALUES (#{user_id}, #{password}, #{nickname}, #{user_name}, #{email}) </insert>
<!--  ✅ 수정된 로그인 쿼리  -->
<select id="loginYn" resultType="com.boot.dto.UserDTO"> SELECT * FROM users WHERE user_id = #{user_id} </select>
<select id="getUserInfo" parameterType="string" resultType="com.boot.dto.UserDTO"> SELECT * FROM users WHERE user_id = #{user_id} </select>
<select id="idCheck" parameterType="string" resultType="int"> SELECT COUNT(*) FROM users WHERE user_id = #{user_id} </select>
<select id="nickCheck" parameterType="string" resultType="int"> SELECT COUNT(*) FROM users WHERE nickname = #{nick} </select>
<update id="updateUserInfo" parameterType="com.boot.dto.UserDTO"> UPDATE users SET user_name = #{user_name}, phone_number = #{phone_number}, email = #{email}, address = #{address}, nickname = #{nickname} WHERE user_id = #{user_id} </update>
<delete id="deleteUser" parameterType="String"> DELETE FROM users WHERE user_id = #{userId} </delete>
	
	<!--test-->
	<select id="getUserList" resultType="com.boot.dto.UserDTO">
		SELECT user_id, user_name, email, phone_number, address, nickname
        FROM users
	</select>
	<select id="getSearchCount" parameterType="map" resultType="int">
		SELECT COUNT(*) FROM users
		WHERE ${field} LIKE '%' || #{keyword} || '%'
    </select>
    <!-- 검색 + 정렬 + 페이징 -->
    <select id="getPagedSearchResults" parameterType="map" resultType="com.boot.dto.UserDTO">
    	<![CDATA[
		SELECT * FROM (
	        SELECT u.*, ROWNUM AS rn
	        FROM (
	            SELECT * FROM users
	            WHERE ${field} LIKE '%' || #{keyword} || '%'
	            ORDER BY ${sortField} ${order}
	        ) u
	        WHERE ROWNUM <= #{endRow}
	    )
	    WHERE rn > #{startRow}
	    ]]>
    </select>
    <!-- 전체 유저 수 -->
    <select id="getTotalCount" resultType="int">
        SELECT COUNT(*) FROM users
    </select>
    <!-- 정렬 + 페이징 (검색 없이) -->
    <select id="getPagedUsersSorted" parameterType="map" resultType="com.boot.dto.UserDTO">
    <![CDATA[
	    SELECT * FROM (
	        SELECT u.*, ROWNUM AS rn
	        FROM (
	            SELECT * FROM users
	            ORDER BY ${sortField} ${order}
	        ) u
	        WHERE ROWNUM <= #{endRow}
	    )
	    WHERE rn > #{startRow}
	   ]]>
    </select>

</mapper>